.we{
    background-color: yellow;
    text-align: center;
    color: darkgreen;
}
.rt{
    color: darkgreen;
}
#qw{
    font-size: 20px;
}
.cv{
    color: white;
}
table{
    border-collapse: collapse;
}
#fg{
    border-radius: 30px;
    background-color: aqua;
    
}